<div class="container">

  <div *ngIf="errors" class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>

  <!-- <form>
    <div class="form-group">
      <label>Login</label>
      <input type="login" class="form-control">
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Le login est requis</div>
    </div>

    </div>
    <div class="form-group">
      <label >Mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
      <small class="form-text text-muted">Ne donnez jamais votre mot de passe à un tiers.</small>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary" (click)="connect()">Connexion</button>
  </form> -->
<div *ngIf="alreadyLoggedIn">
  Vous êtes bien connecté
</div>
  <input type="text" class="form-control" [(ngModel)]="login">
  <input type="password" class="form-control" [(ngModel)]="password">
  <button class="btn btn-primary" (click)="connect()">Connexion</button>

</div>